<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.aliyun.code.typist.model"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler
                javaType="com.aliyun.code.typist.type.Enabled"
                handler="com.aliyun.code.typist.type.EnabledTypeHandler" />
    </typeHandlers>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis" />
                <property name="username" value="root"/>
                <property name="password" value="rootXYZ"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--<mapper resource="mapper/UserMapper.xml" />-->
        <!--<mapper resource="mapper/RoleMapper.xml" />-->
        <!--<mapper resource="mapper/PrivilegeMapper.xml" />-->
        <!--<mapper resource="mapper/UserRoleMapper.xml" />-->
        <!--<mapper resource="mapper/RolePrivilegeMapper.xml" />-->
        <package name="com.aliyun.code.typist.mapper"/>
    </mappers>
</configuration>
