<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aliyun.code.typist.mapper.UserMapper">
    <select id="selectById" resultType="SysUser">
        select *
        from sys_user
        where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(id, user_name, user_password, user_email,
                             user_info, head_img, create_time)
        values (#{id}, #{userName}, #{userPassword}, #{userEmail},
                #{userInfo}, #{headImg, jdbcType=BLOB},
                #{createTime, jdbcType=TIMESTAMP})
    </insert>

    <update id="updateById">
        update sys_user
        set user_name= #{userName},
            user_password= #{userPassword},
            user_email = #{userEmail},
            user_info= #{userInfo},
            head_img = #{headImg, jdbcType=BLOB},
            create_time = #{createTime, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from sys_user where id = #{id}
    </delete>

    <select id="selectByUserAndPwd" resultType="SysUser">
        select *
        from sys_user
        where user_name = #{userName}
          and user_password = #{userPassword}
    </select>

    <select id="selectByUser" resultType="SysUser">
        select *
        from sys_user
        where 1 = 1 <!-- 注意这里哦 -->
        <if test="userName != null and userName != ''">
            and user_name like concat('%', #{userName}, '%')
        </if>
        <if test="userPassword != null and userPassword != ''">
            and user_password = #{userPassword}
        </if>
    </select>

    <select id="selectByIdOrUserName" resultType="SysUser">
        select *
        from sys_user
        where 1 = 1
        <choose>
            <when test="id != null">
                and id = #{id}
            </when>
            <when test="userName != null and userName != ''">
                and user_name = #{userName}
            </when>
            <otherwise>
                and 1 = 2 <!-- 注意这里哦 -->
            </otherwise>
        </choose>
    </select>
</mapper>