<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aliyun.code.typist.mapper.UserMapper">
    <select id="selectById" resultType="SysUser">
        select *
        from sys_user
        where id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(id, user_name, user_password, user_email,
                             user_info, head_img, create_time)
        values (#{id}, #{userName}, #{userPassword}, #{userEmail},
                #{userInfo}, #{headImg, jdbcType=BLOB},
                #{createTime, jdbcType=TIMESTAMP})
    </insert>

    <update id="updateById">
        update sys_user
        set user_name= #{userName},
            user_password= #{userPassword},
            user_email = #{userEmail},
            user_info= #{userInfo},
            head_img = #{headImg, jdbcType=BLOB},
            create_time = #{createTime, jdbcType=TIMESTAMP}
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from sys_user where id = #{id}
    </delete>
</mapper>